@using ApplicationCore.Entities;
@using WebUI.ViewComponents;
@using THPHome.Entities;
@using THPHome.ViewModels;
@model List<MenuViewModel>

@{
    Layout = null;
}

<ul class="nav col-12 col-lg-auto me-lg-auto mb-2 md:justify-content-center mb-md-0">
    @foreach (var item in Model.Where(x => x.ParentId == 0))
    {
        if (item.Mode == MenuMode.Mega)
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    @item.Name
                </a>
                <ul class="dropdown-menu dropdown-mega">
                    @{
                        if (item.Children != null)
                        {
                            foreach (var mega1 in item.Children)
                            {
                                <li>
                                    <a class="header" href="@mega1.Url">
                                        <span class="ubermenu-target-title ubermenu-target-text text-uppercase">@mega1.Name</span>
                                    </a>
                                    @{
                                        if (mega1.Children != null)
                                        {
                                            <ul class="mega-stack">
                                                @foreach (var mega2 in mega1.Children)
                                                {
                                                    <li>
                                                        <a href="@mega2.Url">
                                                            <span class="ubermenu-target-title ubermenu-target-text">@mega2.Name</span>
                                                        </a>
                                                    </li>
                                                }
                                            </ul>
                                        }
                                    }
                                </li>
                            }
                        }
                    }

                </ul>
            </li>
            continue;
        }
        if (item.Mode != MenuMode.Mega)
        {
            if (item.Children != null)
            {
                if (item.Children.Count() > 0)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">@item.Name</a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @foreach (var child in item.Children)
                            {
                                <li><a class="dropdown-item" href="@child.Url">@child.Name</a></li>
                            }
                        </ul>
                    </li>
                    continue;
                }
            }
        }
        <li class="nav-item"><a href="@item.Url" class="nav-link text-white">@item.Name</a></li>
    }
</ul>