@using ApplicationCore.Entities;
@model List<ApplicationCore.Models.Categories.GroupCategory>

@{
    ViewData["Title"] = "Trang chủ";
    var slides = ViewBag.Slides as IEnumerable<Banner>;
    int i = 0;
    var boxMenu = ViewBag.BoxMenu as IEnumerable<Menu>;
    var partners = ViewBag.Partner as IEnumerable<Partner>;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.3/tiny-slider.css">

<div class="row">
    <div class="col-md-8 mb-4">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                @foreach (var item in slides)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img src="@item.Image" class="d-block w-100" alt="...">
                    </div>
                    @(i++)
                }
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
    <div class="col-md-4 mb-4">
        <div class="title">ĐIỀU HÀNH HP-eUniversity</div>
        <div class="row">
            @foreach (var item in boxMenu)
            {
                <div class="col-4">
                    <a href="@item.Url" target="_blank">
                        <div class="box">
                            <div class="icon">
                                @Html.Raw(item.Icon)
                            </div>
                            <div class="name text-truncate" data-bs-toggle="tooltip" title="@item.Name">@item.Name</div>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-4 mb-4">
        <partial name="/Views/Shared/_RandomPost.cshtml" model="ViewBag.LastedList" />
    </div>
    <div class="col-md-8 mb-4">

    </div>
</div>

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4 mb-4">
            <div class="title"><a href="/category/details/@item.Id" class="text-white">@item.Name</a></div>
            <div class="category-box">
                <div class="list-group">
                    @foreach (var cat in item.Childs)
                    {
                        <a href="/category/details/@cat.Id" class="list-group-item list-group-item-action"><i class="fas fa-caret-right mr-2"></i>@cat.Name</a>
                    }
                </div>
            </div>
        </div>
    }
</div>

<div class="row counter-wrapper mb-4">
    <div class="col-md-3">
        <div class="p-4 md:p-10 text-center">
            <div class="text-lg font-bold">
                <span class="counter" data-count="14000">0</span>+ sinh viên
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="p-4 md:p-10 text-center">
            <div class="text-lg font-bold">
                <span class="counter" data-count="97">0</span>% sinh viên ra trường có việc làm
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="p-4 md:p-10 text-center">
            <div class="text-lg font-bold">
                <span class="counter" data-count="43">0</span> Chuyên ngành đào tạo chính quy
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="p-4 md:p-10 text-center">
            <div class="text-lg font-bold">
                <span class="counter" data-count="5">0</span> chương trình liên kết nước ngoài
            </div>
        </div>
    </div>
</div>

<div class="partner border-t border-b py-2">
    <div class="my-slider">
        @foreach (var item in partners)
        {
            <img src="@item.Logo" alt="Logo" />
        }
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.2/min/tiny-slider.js"></script>
    <script>
        var slider = tns({
            container: '.my-slider',
            items: 6,
            slideBy: 'page',
            autoplay: true,
            gutter: 16,
            controls: false,
            autoplayButtonOutput: false
        });
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/3.0.1/jquery.waypoints.js"></script>
    <script src="https://bfintal.github.io/Counter-Up/jquery.counterup.min.js"></script>
    <script>
        $('.counter').each(function () {
            var $this = $(this),
                countTo = $this.attr('data-count');
            $({ countNum: $this.text() }).animate({
                countNum: countTo
            }, {
                duration: 8000,
                easing: 'linear',
                step: function () {
                    $this.text(Math.floor(this.countNum));
                },
                complete: function () {
                    $this.text(this.countNum);
                }
            });
        });
    </script>
}
