@using ApplicationCore.Entities;
@using WebUI.ViewComponents;
@model MainMenu

@{
    Layout = null;
}

@if (Model != null && Model.Menus.Count() > 0)
{
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Giới thiệu</a>
            <ul class="dropdown-menu dropdown-mega">
                <li>
                    <a class="header" href="http://dhhp.edu.vn/?page_id=3649"><i class="ubermenu-icon fa fa-sign-in"></i><span class="ubermenu-target-title ubermenu-target-text">GIỚI THIỆU CHUNG</span></a>
                    <ul class="mega-stack">
                        <li><a href="http://dhhp.edu.vn"><span class="ubermenu-target-title ubermenu-target-text">Thông điệp của Hiệu trưởng</span></a></li>
                        <li><a href="http://dhhp.edu.vn/?page_id=3653"><span class="ubermenu-target-title ubermenu-target-text">Sứ mạng &amp; Mục tiêu</span></a></li>
                        <li><a href="http://dhhp.edu.vn/?page_id=3779"><span class="ubermenu-target-title ubermenu-target-text">Đảng bộ</span></a></li>
                        <li><a href="http://dhhp.edu.vn/?page_id=14065"><span class="ubermenu-target-title ubermenu-target-text">Ban Giám hiệu</span></a></li>
                        <li><a href="http://dhhp.edu.vn/vi/hoi-dong-truong-dai-hoc-hai-phong/"><span class="ubermenu-target-title ubermenu-target-text">Hội đồng Trường</span></a></li>
                        <li><a href="http://dhhp.edu.vn/?page_id=3718"><span class="ubermenu-target-title ubermenu-target-text">Cơ cấu tổ chức</span></a></li>
                        <li><a href="http://dhhp.edu.vn/?page_id=3764"><span class="ubermenu-target-title ubermenu-target-text">Công Đoàn trường</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/chuc-nang-nhiem-vu-cac-don-vi/"><span class="ubermenu-target-title ubermenu-target-text">Chức năng nhiệm vụ các đơn vị</span></a></li>
                        <li><a href="http://dhhp.edu.vn/?p=3714"><span class="ubermenu-target-title ubermenu-target-text">Bài hát truyền thống</span></a></li>
                        <li><a href="http://dhhp.edu.vn/?page_id=3758"><span class="ubermenu-target-title ubermenu-target-text">Đoàn Thanh niên, hội sinh viên</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="header" href="/departments"><i class="ubermenu-icon fa fa-sign-in"></i><span class="ubermenu-target-title ubermenu-target-text">KHOA – VIỆN ĐÀO TẠO</span></a>
                    <ul class="mega-stack">
                        @foreach (var item in Model.Faculties)
                        {
                            <li>
                                <a href="/departments?type=@DepartmentType.Faculty&id=@item.Id">
                                    <span class="ubermenu-target-title ubermenu-target-text">@item.Name</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li>
                    <a class="header" href="http://dhhp.edu.vn/vi/phong-to-chuc-can-bo/"><i class="ubermenu-icon fa fa-sign-in"></i><span class="ubermenu-target-title ubermenu-target-text">PHÒNG – BAN CHỨC NĂNG</span></a>
                    <ul class="mega-stack">
                        <li><a href="https://dhhp.edu.vn/vi/phong-to-chuc-can-bo/"><span class="ubermenu-target-title ubermenu-target-text">Phòng Tổ chức Cán bộ</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/phong-chinh-tri-cong-tac-hssv/"><span class="ubermenu-target-title ubermenu-target-text">Phòng Chính trị – Công tác HSSV</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/phong-khao-thi-dam-bao-chat-luong/"><span class="ubermenu-target-title ubermenu-target-text">Phòng Khảo thí và Đảm bảo chất lượng</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/phong-dao-tao/"><span class="ubermenu-target-title ubermenu-target-text">Phòng Đào tạo</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/phong-quan-ly-khoa-hoc/"><span class="ubermenu-target-title ubermenu-target-text">Phòng Khoa học Công nghệ</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/phong-quan-ly-sau-dai-hoc/"><span class="ubermenu-target-title ubermenu-target-text">Phòng Quản lý sau đại học</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/phong-hop-tac-quoc-te/"><span class="ubermenu-target-title ubermenu-target-text">Phòng Hợp tác và Đào tạo quốc tế</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/phong-hanh-chinh-quan-tri/"><span class="ubermenu-target-title ubermenu-target-text">Văn phòng</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/phong-tai-chinh-ke-toan/"><span class="ubermenu-target-title ubermenu-target-text">Phòng Kế hoạch – Tài chính</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/phong-tranh-tra-phap-che/"><span class="ubermenu-target-title ubermenu-target-text">Phòng Thanh tra – Pháp chế</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/ban-quan-ly-du-an-xay-dung/"><span class="ubermenu-target-title ubermenu-target-text">Ban Quản lý dự án xây dựng</span></a></li>
                    </ul>
                </li>
                <li>
                    <a class="header" href="http://dhhp.edu.vn/vi/trung-tam-ngoai-ngu/"><i class="ubermenu-icon fa fa-sign-in"></i><span class="ubermenu-target-title ubermenu-target-text">TRUNG TÂM</span></a>
                    <ul class="mega-stack">
                        <li><a href="https://dhhp.edu.vn/vi/trung-tam-dao-tao-boi-duong-can-bo/"><span class="ubermenu-target-title ubermenu-target-text">Trung tâm Đào tạo bồi dưỡng cán bộ</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/trung-tam-dao-tao-thuong-xuyen/"><span class="ubermenu-target-title ubermenu-target-text">Trung tâm Ngoại ngữ, Tin học và Đào tạo thường xuyên</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/trung-tam-giao-duc-quoc-phong-an-ninh/"><span class="ubermenu-target-title ubermenu-target-text">Trung tâm Giáo dục quốc phòng và An ninh</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/thu-vien-trung-tam/"><span class="ubermenu-target-title ubermenu-target-text">Trung tâm Thông tin – Thư viện</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/ban-quan-ly-ky-tuc-xa/"><span class="ubermenu-target-title ubermenu-target-text">Trung tâm Phục vụ và Nội trú</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/khoa-tthe-duc-the-thao/"><span class="ubermenu-target-title ubermenu-target-text">Trung tâm Giáo dục thể chất và thể thao</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/truong-mam-non-thuc-hanh/"><span class="ubermenu-target-title ubermenu-target-text">Trường Mầm non thực hành</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/truong-mam-tieu-hoc-thuc-hanh/"><span class="ubermenu-target-title ubermenu-target-text">Trường Tiểu học thực hành</span></a></li>
                        <li><a href="https://dhhp.edu.vn/vi/truong-pho-thong-phan-dang-luu/"><span class="ubermenu-target-title ubermenu-target-text">Trường Phổ thông Phan Đăng Lưu</span></a></li>
                    </ul>
                </li>
            </ul>
        </li>
        @foreach (var item in Model.Menus.Where(x => x.ParrentId == 0))
        {
            var childs = Model.Menus.Where(x => x.ParrentId == item.Id);
            if (childs.Count() > 0)
            {
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">@item.Name</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        @foreach (var child in childs)
                        {
                            <li><a class="dropdown-item" href="@child.Url">@child.Name</a></li>
                        }
                    </ul>
                </li>
            }
            else
            {
                <li class="nav-item"><a href="@item.Url" class="nav-link text-white">@item.Name</a></li>
            }
        }
    </ul>
}