@using ApplicationCore.ViewModels
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using ApplicationCore.Entities
@model IEnumerable<MenuViewModel>

@{
    Layout = null;
    Context.Request.Cookies.TryGetValue("locale", out var locale);
}

@if (Model != null)
{
    <div class="container pe-0">

        <nav class="flex top-menu text-xs justify-end">
            <ul class="nav top-menu-category hidden md:flex">
                @foreach (var item in Model)
                {
                    if (item.Children != null)
                    {
                        if (item.Children.Count() > 0)
                        {
                            <li class="nav-item dropdown h-full">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">@item.Name</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @foreach (var child in item.Children)
                                    {
                                        <li><a class="dropdown-item" href="@child.Url">@child.Name</a></li>
                                    }
                                </ul>
                            </li>
                            continue;
                        }
                    }
                    <li class="nav-item"><a href="@item.Url" class="nav-link text-white"><div class="inline">@Html.Raw(@item.Icon)</div><div class="inline">@item.Name</div></a></li>
                }
            </ul>

            <ul class="nav text-uppercase pr-2 d-flex align-items-center">
                <li class="nav-item @(locale == "vi-VN" || string.IsNullOrEmpty(locale) ? "bg-white" : "")">
                    <a href="/?lang=vi-VN" class="nav-link px-2 py-1">
                        <div class="d-inline">
                            <svg width="16" viewBox="0 0 513 343" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_301_64)">
                                    <path d="M197.025 0.960205H0V342.953H513V0.960205H197.025Z" fill="#D80027" />
                                    <path d="M256.5 73.0427L279.207 142.926H352.688L293.24 186.116L315.948 256.001L256.5 212.81L197.052 256.001L219.76 186.116L160.312 142.926H233.793L256.5 73.0427Z" fill="#FFDA44" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_301_64">
                                        <rect width="513" height="342" fill="white" transform="translate(0 0.956299)" />
                                    </clipPath>
                                </defs>
                            </svg>
                        </div>
                    </a>
                </li>
                <li class="nav-item @(locale == "en-US" ? "bg-white" : "")">
                    <a href="/?lang=en-US" class="nav-link px-2 py-1">
                        <div class="d-inline">
                            <svg width="16" viewBox="0 0 513 343" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_301_1200)">
                                    <path d="M0 0.926514H513V342.93H0V0.926514Z" fill="white" />
                                    <path d="M288.562 0.923584H224.438V139.86H0V203.985H224.438V342.922H288.562V203.985H513V139.86H288.562V0.923584Z" fill="#D80027" />
                                    <path d="M394.554 231.401L513 297.205V231.401H394.554ZM312.261 231.401L513 342.922V311.387L369.026 231.401H312.261ZM459.53 342.922L312.261 261.099V342.922H459.53Z" fill="#0052B4" />
                                    <path d="M312.261 231.401L513 342.922V311.387L369.026 231.401H312.261Z" fill="white" />
                                    <path d="M312.261 231.401L513 342.922V311.387L369.026 231.401H312.261Z" fill="#D80027" />
                                    <path d="M90.5174 231.399L0 281.687V231.399H90.5174ZM200.739 245.58V342.921H25.5408L200.739 245.58Z" fill="#0052B4" />
                                    <path d="M143.974 231.401L0 311.387V342.922L200.739 231.401H143.974Z" fill="#D80027" />
                                    <path d="M118.446 112.445L0 46.6407V112.445H118.446ZM200.739 112.445L0 0.923584V32.4591L143.974 112.445H200.739ZM53.4702 0.923584L200.739 82.7471V0.923584H53.4702Z" fill="#0052B4" />
                                    <path d="M200.739 112.445L0 0.923584V32.4591L143.974 112.445H200.739Z" fill="white" />
                                    <path d="M200.739 112.445L0 0.923584V32.4591L143.974 112.445H200.739Z" fill="#D80027" />
                                    <path d="M422.483 112.447L513 62.1589V112.447H422.483ZM312.261 98.2653V0.924561H487.459L312.261 98.2653Z" fill="#0052B4" />
                                    <path d="M369.026 112.445L513 32.4591V0.923584L312.261 112.445H369.026Z" fill="#D80027" />
                                </g>
                                <defs>
                                    <clipPath id="clip0_301_1200">
                                        <rect width="513" height="342" fill="white" transform="translate(0 0.926514)" />
                                    </clipPath>
                                </defs>
                            </svg>

                        </div>
                    </a>
                </li>
                @if (SignInManager.IsSignedIn(User))
                {
                    <li class="nav-item">
                        <a href="https://admin.dhhp.edu.vn" class="nav-link px-2">
                            <div class="inline">
                                <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3.11111 8.25V6.6H0V4.4H3.11111V2.75L5.33333 5.5L3.11111 8.25ZM3.11111 0H7.11111C7.34686 0 7.57295 0.115892 7.73965 0.322183C7.90635 0.528472 8 0.808262 8 1.1V9.9C8 10.1917 7.90635 10.4715 7.73965 10.6778C7.57295 10.8841 7.34686 11 7.11111 11H3.11111C2.87536 11 2.64927 10.8841 2.48257 10.6778C2.31587 10.4715 2.22222 10.1917 2.22222 9.9V8.8H3.11111V9.9H7.11111V1.1H3.11111V2.2H2.22222V1.1C2.22222 0.808262 2.31587 0.528472 2.48257 0.322183C2.64927 0.115892 2.87536 0 3.11111 0Z" fill="white" />
                                </svg>
                            </div>
                            <div class="inline">
                                Quản trị
                            </div>
                        </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a href="https://admin.dhhp.edu.vn" class="nav-link px-2 flex items-center">
                            <i class="fa-solid fa-right-to-bracket mr-1"></i>
                            <span class="inline">
                                <localize key="signIn" />
                            </span>
                        </a>
                    </li>
                }

            </ul>
        </nav>
    </div>
}
