@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using ApplicationCore.Entities
@model IEnumerable<Menu>

@{
    Layout = null;
    Context.Request.Cookies.TryGetValue("locale", out var locale);
}

@if (Model != null)
{
    <div class="container">
        <nav class="flex hidden md:block top-menu text-sm">
            <div class="flex justify-end">
                <ul class="nav top-menu-category">
                    @foreach (var item in Model.Where(x => x.ParrentId == 0))
                    {
                        var childs = Model.Where(x => x.ParrentId == item.Id);
                        if (childs.Count() > 0)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">@item.Name</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    @foreach (var child in childs)
                                    {
                                        <li><a class="dropdown-item" href="@child.Url">@child.Name</a></li>
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item"><a href="@item.Url" class="nav-link text-white"><div class="inline">@Html.Raw(@item.Icon)</div><div class="inline">@item.Name</div></a></li>
                        }
                    }

                </ul>
               
                <ul class="nav text-uppercase pr-2">
                    <li class="nav-item @(locale == "vi-VN" || string.IsNullOrEmpty(locale) ? "bg-danger" : "")">
                        <a href="/?lang=vi-VN" class="nav-link link-dark px-2">
                            <div class="inline">
                                <svg width="17" height="15" viewBox="0 0 7 7" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M4.23042 2.682L3.5 0.434082L2.76958 2.682H0.40625L2.31833 4.07075L1.58792 6.31866L3.5 4.9295L5.41208 6.31866L4.68167 4.07075L6.59375 2.682H4.23042Z" fill="#FFFF00" />
                                </svg>
                            </div>
                            <div class="inline">
                                Tiếng việt
                            </div>
                        </a>
                    </li>
                    <li class="nav-item @(locale == "en-US" ? "bg-danger" : "")">
                        <a href="/?lang=en-US" class="nav-link link-dark px-2">
                            <div class="inline">
                                <svg width="14" height="12" viewBox="0 0 14 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M13.2223 5.21053H7.6022V1H6.3979V5.21053H0.777832V6.78947H6.3979V11H7.6022V6.78947H13.2223V5.21053Z" fill="#D22F27" stroke="#D22F27" stroke-width="0.5" stroke-miterlimit="10" />
                                </svg>
                            </div>
                            <div class="inline">
                                Tiếng Anh
                            </div>
                        </a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a href="/admin" class="nav-link link-dark px-2">
                                <div class="inline">
                                    <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.11111 8.25V6.6H0V4.4H3.11111V2.75L5.33333 5.5L3.11111 8.25ZM3.11111 0H7.11111C7.34686 0 7.57295 0.115892 7.73965 0.322183C7.90635 0.528472 8 0.808262 8 1.1V9.9C8 10.1917 7.90635 10.4715 7.73965 10.6778C7.57295 10.8841 7.34686 11 7.11111 11H3.11111C2.87536 11 2.64927 10.8841 2.48257 10.6778C2.31587 10.4715 2.22222 10.1917 2.22222 9.9V8.8H3.11111V9.9H7.11111V1.1H3.11111V2.2H2.22222V1.1C2.22222 0.808262 2.31587 0.528472 2.48257 0.322183C2.64927 0.115892 2.87536 0 3.11111 0Z" fill="white" />
                                    </svg>
                                </div>
                                <div class="inline">
                                    Quản trị
                                </div>
                            </a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item">
                            <a href="/identity/account/login" class="nav-link link-dark px-2">
                                <div class="inline">
                                    <svg width="8" height="11" viewBox="0 0 8 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M3.11111 8.25V6.6H0V4.4H3.11111V2.75L5.33333 5.5L3.11111 8.25ZM3.11111 0H7.11111C7.34686 0 7.57295 0.115892 7.73965 0.322183C7.90635 0.528472 8 0.808262 8 1.1V9.9C8 10.1917 7.90635 10.4715 7.73965 10.6778C7.57295 10.8841 7.34686 11 7.11111 11H3.11111C2.87536 11 2.64927 10.8841 2.48257 10.6778C2.31587 10.4715 2.22222 10.1917 2.22222 9.9V8.8H3.11111V9.9H7.11111V1.1H3.11111V2.2H2.22222V1.1C2.22222 0.808262 2.31587 0.528472 2.48257 0.322183C2.64927 0.115892 2.87536 0 3.11111 0Z" fill="white" />
                                    </svg>
                                </div>
                                <div class="inline">
                                    Đăng nhập
                                </div>
                            </a>
                        </li>
                    }

                </ul>
            </div>
        </nav>
    </div>
}