@page
@model THPHome.Pages.IndexModel
@using ApplicationCore.Entities;
@using ApplicationCore.Models.Posts;
@{
    int i = 0;
    int j = 0;
    int e = 0;
    int f = 0;
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css" integrity="sha256-PZLhE6wwMbg4AB3d35ZdBF9HD/dI/y4RazA3iRDurss=" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-4">
            <div id="carouselExampleIndicators" class="carousel slide position-relative">
                <div class="carousel-indicators">
                    @foreach (var item in Model.Slides)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@j" class="@(j == 0 ? "active" : "")" aria-label="Slide @j" @(j == 0 ? "aria-current='true'" : "")></button>
                        j++;
                    }
                </div>
                <div class="carousel-inner">
                    @foreach (var item in Model.Slides)
                    {
                        <div class="carousel-item @(i == 0 ? "active" : "")">
                            <img src="@item.Image" class="d-block w-100" alt="@item.Name">
                            @if (!string.IsNullOrEmpty(item.Name))
                            {
                                <div class="carousel-overlay">
                                    <div class="carousel-caption">
                                        <a href="@item.Url"><h5>@item.Name</h5></a>
                                        <div class="carousel__overlay--delimiter"></div>
                                        <p>@item.Description</p>
                                    </div>
                                </div>
                            }
                        </div>
                        i++;
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <div class="col-md-4  mb-4">
            <div class="title">
                <localize key="operator" />
            </div>
            <div class="row g-2">
                @foreach (var item in Model.BoxMenu)
                {
                    <div class="col-4">
                        <a href="@item.Url" target="_blank">
                            <div class="box">
                                <div class="icon">
                                    @Html.Raw(item.Icon)
                                </div>
                                <div class="name text-truncate" data-bs-toggle="tooltip" title="@item.Name">@item.Name</div>
                            </div>
                        </a>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-4">
            <a href="https://tuyensinh.dhhp.edu.vn/">
                <img src="https://dhhp.edu.vn/files/Banner web VNS.png" alt="Banner" class="w-100" loading="lazy" style="height: 100%; object-fit: contain">
            </a>
        </div>
        <div class="col-md-4 mb-4">
            <div class="title mb-1" style="text-transform: uppercase">
                Báo chí nói về chúng tôi
            </div>
            <div id="carouselPressTalks" class="carousel slide h-full">
                <div class="carousel-indicators">
                    @foreach (var item in Model.PressTalks)
                    {
                        <button type="button" data-bs-target="#carouselPressTalks" data-bs-slide-to="@f" class="@(f == 0 ? "active" : "")" aria-label="Slide @f" @(f == 0 ? "aria-current='true'" : "")></button>
                        f++;
                    }
                </div>
                <div class="carousel-inner h-full">
                    @foreach (var item in Model.PressTalks)
                    {
                        <div class="carousel-item @(e == 0 ? "active" : "")" style="height: calc(100% - 40px)">
                            <div class="flex flex-col rounded border border-gray-100 h-full">
                                <a href="@item.Url" title="@item.Title" class="bg-black">
                                    <img src="@item.Thumbnail" class="w-full transition-opacity duration-700 ease-in-out hover:opacity-50 object-cover" alt="@item.Title" title="@item.Title" style="height: 180px" />
                                </a>
                                <div class="flex-1 p-2">
                                    <a href="@item.Url" title="@item.Title" class="line-clamp-2 font-bold">@item.Title</a>
                                    <div class="text-gray-500 line-clamp-3">
                                        @item.Description
                                    </div>
                                </div>
                                <div class="bg-gray-100 rounded-b text-gray-600 flex justify-between p-1 items-center">
                                    <div class="post-info">
                                        <small class="mr-2">
                                            <i class="fas fa-clock"></i>
                                            @item.IssuedDate
                                        </small>
                                        <small>
                                            <i class="fa fa-eye"></i> @(item.View.ToString("N0"))
                                        </small>
                                    </div>
                                    <div class="relative">
                                        <button type="button" class="bg-white w-10 h-10 flex justify-center items-center rounded-full border hover:bg-gray-900 hover:text-white transtion duration-500" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-share-alt"></i></button>
                                        <ul class="hidden absolute top-10 z-10 p-0 m-0">
                                            <li class="w-10 h-10 flex bg-blue-300 text-white items-center justify-center rounded-full cursor-pointer hover:bg-blue-400"><a data-title="Twitter" href="#" rel="nofollow" target="_blank" class="text-white hover:text-white"><i class="fab fa-twitter"></i></a></li>
                                            <li class="w-10 h-10 flex bg-blue-500 text-white items-center justify-center rounded-full cursor-pointer hover:bg-blue-600"><a data-title="Facebook" href="#" rel="nofollow" target="_blank" class="text-white hover:text-white"><i class="fab fa-facebook"></i></a></li>
                                            <li class="w-10 h-10 flex bg-red-500 text-white items-center justify-center rounded-full cursor-pointer hover:bg-red-600"><a data-title="Pinterest" href="#" rel="nofollow" target="_blank" class="text-white hover:text-white"><i class="fab fa-pinterest"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        e++;
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselPressTalks" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselPressTalks" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" data-aos="fade-up">
        <div class="col-md-12">
            <div class="title affiliate mb-1 " style="text-transform: uppercase">
                <localize key="affiliate-partner" />
            </div>
            @foreach (var item in Model.Blocks)
            {
                @await Component.InvokeAsync(item.ViewComponent, item.Id)
            }
        </div>
    </div>
</div>

<div class="container">
    <div class="row" data-aos="fade-up">

        <div class="col-md-8">
            <div class="title mb-1" style="text-transform: uppercase">
                <localize key="news_and_events" />
            </div>
            <partial name="/Views/Post/_PostsNoPaging.cshtml" model="@Model.ListNews.Take(3)" />
            <div class="related mb-4 border-t">
                @foreach (var item in Model.ListNews.Skip(3))
                {
                    <div class="px-2 py-1 border-b border-r border-l">
                        <i class="fab fa-staylinked mr-1 me-1"></i>
                        <a href="@item.Url">@item.Title</a> <i class="text-muted text-sm">(@item.IssuedDate.ToString("dd/MM/yyyy hh:mm"))</i>
                    </div>
                }
            </div>
        </div>

        <div class="col-md-4 mb-4">
            <partial name="/Views/Shared/_RandomPost.cshtml" model="Model.ListNotification" />
        </div>

    </div>

</div>

<div class="container">
    <div class="row g-2">
        @foreach (var item in Model.GroupCategories)
        {
            <div class="col-md-4 mb-4">
                <div class="title"><a href="/category/details/@item.Id" class="text-dark">@item.Name</a></div>
                <div class="category-box">
                    <div class="list-group">
                        @foreach (var cat in item.Childs)
                        {
                            <a href="/category/details/@cat.Id" class="list-group-item list-group-item-action"><i class="fas fa-caret-right mr-2"></i>@cat.Name</a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>

</div>

<div class="mb-4 statistics">
    <div class="grid md:grid-cols-4 grid-cols-2 counter-wrapper">
        <div class="flex flex-col">
            <div class="head">
                <span class="counter" data-count="270">0</span>K+
            </div>
            <div class="des" data-aos="fade-up">
                <localize key="students" />
            </div>
        </div>
        <div class="flex flex-col">
            <div class="head">
                <span class="counter" data-count="97">0</span>%
            </div>
            <div class="des" data-aos="fade-up">
                <localize key="students_have_jobs" />
            </div>
        </div>
        <div class="flex flex-col">
            <div class="head">
                <span class="counter" data-count="500">0</span>+
            </div>
            <div class="des" data-aos="fade-up">
                <localize key="formal_training" />
            </div>
        </div>
        <div class="flex flex-col">
            <div class="head">
                <span class="counter" data-count="100">0</span>+
            </div>
            <div class="des" data-aos="fade-up">
                <localize key="foreign_affiliate_program" />
            </div>
        </div>
    </div>

</div>

<div class="container">
    <div class="media">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">
                    <localize key="playlist" />
                </button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">
                    <localize key="gallery" />
                </button>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="row">
                    <div class="col-md-8 mb-4">
                        <div id="player" data-plyr-provider="youtube" data-plyr-embed-id="https://www.youtube.com/embed/@Model.Videos.FirstOrDefault()?.Url"></div>
                    </div>
                    <div class="col-md-4 mb-4">
                        @foreach (var item in Model.Videos)
                        {
                            <div class="flex items-center">
                                <div class="bg-dark" style="width: 100px">
                                    <img src="https://img.youtube.com/vi/@item.Url/0.jpg" alt="IMG" style="width: 100px; height: 70px; object-fit: cover" class="transition duration-700 hover:opacity-75" onclick="playVideo('@item.Url')" />
                                </div>
                                <div class="p-2" onclick="playVideo('@item.Url')" style="width: calc(100% - 100px);">
                                    <div class="font-bold hover:text-blue-500 cursor-pointer">@item.Name</div>
                                    <div class="text-muted text-sm">@item.CreatedDate</div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="row g-2 gallery mb-2">
                    @foreach (var item in Model.Albums)
                    {
                        <div class="col-6 col-md-3 mb-4">
                            <div class="bg-dark">
                                <a href="@item.Url" class="image-popup">
                                    <img src="@item.Url" alt="@item.Description" class="transition duration-700 hover:opacity-75 w-full md:h-80 h-32" style="object-fit: cover;" />
                                </a>
                            </div>
                        </div>
                    }
                </div>
                <div class="d-flex justify-content-center">
                    <a href="/albums" class="btn btn-outline-primary text-uppercase"><i class="fa-solid fa-arrow-left"></i> Xem tất cả <i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js" integrity="sha256-P93G0oq6PBPWTP1IR8Mz/0jHHUpaWL0aBJTKauisG7Q=" crossorigin="anonymous"></script>
    <script src="~/js/album/album.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/3.0.1/jquery.waypoints.js"></script>
    <script src="https://bfintal.github.io/Counter-Up/jquery.counterup.min.js"></script>
    <script>
        $('.counter').each(function () {
            var $this = $(this),
                countTo = $this.attr('data-count');
            $({ countNum: $this.text() }).animate({
                countNum: countTo
            }, {
                duration: 8000,
                easing: 'linear',
                step: function () {
                    $this.text(Math.floor(this.countNum));
                },
                complete: function () {
                    $this.text(this.countNum);
                }
            });
        });
        const player = new Plyr('#player');
        function playVideo(url) {
            player.source = {
                type: 'video',
                title: 'Example title',
                sources: [
                    {
                        src: url,
                        provider: 'youtube'
                    }
                ]
            };

            player.play();
        }
    </script>
}
