@page
@model WebUI.Pages.Departments.IndexModel
@{
    ViewData["Title"] = "Khoa - Viện";
    var j = 0;
    var i = 0;
}

<div class="row">
    <div class="col-md-3">
        <div class="title">KHOA – VIỆN</div>
        <ul class="list-group">
            @foreach (var department in Model.Departments)
            {
                <li class="list-group-item">
                    <a href="/departments?id=@department.Id">@department.Name</a>
                </li>
            }
        </ul>
    </div>
    <div class="col-md-9">
        <div class="title">@Model.Department.Name</div>
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            @foreach (var item in Model.DepartmentDetails)
            {
                <li class="nav-item flex-1" role="presentation">
                    <button class="nav-link @(j == 0 ? "active" : "")" id="tabH-@item.Id" data-bs-toggle="tab" data-bs-target="#tab-@item.Id" type="button" role="tab" aria-controls="@item.Id" aria-selected="true">@item.Type</button>
                </li>
                j++;
            }
        </ul>
        <div class="tab-content mb-4" id="myTabContent">
            @foreach (var item in Model.DepartmentDetails)
            {
                <div class="tab-pane fade @(i == 0 ? "show active" : "")" id="tab-@item.Id" role="tabpanel" aria-labelledby="@item.Id" tabindex="0">
                    <div class="border p-4">
                        @Html.Raw(item.Content)
                    </div>
                </div>
                i++;
            }
        </div>
        <div class="title">Cơ cấu tổ chức</div>
        <div class="p-4 border">
            @foreach (var rank in Model.UserRanks)
            {
                <div class="mb-4">
                    <div class="row justify-center">
                        @foreach (var item in rank.Value)
                        {
                            <div class="col-md-4 flex flex-col items-center">
                                <div class="mb-2 d-flex">
                                    <div class="rounded-circle bg-dark" style="width: 4rem;height: 4rem;">

                                    </div>
                                </div>
                                <div class="text-muted">@item.JobTitle</div>
                                <div class="fw-bold mb-2">@item.Name</div>
                            </div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>