@using ApplicationCore.Entities

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="fb:admins" content="100003781068360" />
    <meta property="fb:pages" content="252222348234511" />
    <meta name="description" content="@Html.Raw(ViewData["Description"])" />
    <meta name="robots" content="index,follow" />
    <title>@Html.Raw(ViewData["Title"]) - Đại Học Hải Phòng</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body>

    @await Component.InvokeAsync("Menu", new { type = MenuType.TOP })

    <div class="container">
        <div class="flex items-center justify-between">
            <div class="logo"><img src="~/img/banner.png" /></div>
            <div class="d-none d-md-block">
                <img src="~/img/logo-right.png" />
            </div>
        </div>
    </div>
    <header class="text-white mb-4 main-menu shadow">
        <div class="container">
            <div class="navbar navbar-expand-lg">
                <a href="/" class="d-flex align-items-center mb-lg-0 text-white nav-brand h-14 w-14 items-center justify-center">
                    <i class="fas fa-home"></i>
                </a>
                <button class="navbar-toggler border-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav flex-grow">
                        @await Component.InvokeAsync("Menu", new { type = MenuType.MAIN })
                    </div>
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 w-64 flex items-center" action="/search">
                        <input type="search" class="h-14 px-3 w-64" placeholder="Nhập từ khóa..." aria-label="Search" name="searchTerm">
                    </form>
                </div>
            </div>
        </div>
    </header>
    <partial name="_CookieConsentPartial" />
    <main role="main" class="main mb-4">
        <div class="container">
            @RenderBody()
        </div>
    </main>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="https://placehold.jp/ffffff/0d2d4d/360x80.png" class="mb-4" />
                </div>
                <div class="col-md-6">
                    <div class="pb-2">
                        <i class="fas fa-map-marker-alt me-2"></i>Số 171 Phan Đăng Lưu - Kiến An - Hải Phòng
                    </div>
                    <div class="row mb-4">
                        <div class="col-md-6">
                            <i class="fas fa-phone me-2"></i>(84-225) 3876 338
                        </div>
                        <div class="col-md-6">
                            <i class="fas fa-print me-2"></i>(84-225) 3876 893
                        </div>
                    </div>
                    <div class="footer-social">
                        <i class="p-2 fab fa-facebook-square"></i>
                        <i class="p-2 fab fa-twitter-square"></i>
                        <i class="p-2 fab fa-linkedin"></i>
                        <i class="p-2 fab fa-instagram"></i>
                        <i class="p-2 fab fa-pinterest-square"></i>
                        <i class="p-2 fa fa-rss"></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-divide"></div>
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="footer-bottom-link d-none d-md-block">
                        <a href="#" class="ps-0">About us</a>
                        <a href="#">Contact us</a>
                        <a href="#">Help</a>
                        <a href="#">Privacy Policy</a>
                        <a href="#">Disclaimer</a>
                    </div>
                    <div class="footer-copyright">© Copyright @DateTime.Now.Year Trường Đại học Hải Phòng</div>
                </div>
            </div>
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
