@using ApplicationCore.Entities

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@Html.Raw(ViewData["Description"])" />
    <meta name="robots" content="index,follow" />
    <title>@Html.Raw(ViewData["Title"])</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link href="https://unpkg.com/tailwindcss@@^2/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
</head>
<body>

    @await Component.InvokeAsync("Menu", new { type = MenuType.TOP })

    <div class="container">
        <div class="flex items-center justify-between">
            <div class="logo">
                <a href="/" aria-label="Logo">
                    <img src="~/img/banner.png" alt="LOGO DHHP" />
                </a>
            </div>
            <div class="d-none d-md-block">
                <img src="~/img/logo-right.png" />
            </div>
        </div>
    </div>
    <header class="text-white mb-4 main-menu shadow">
        <div class="container">
            <div class="navbar navbar-expand-lg">
                <a href="/" class="d-flex align-items-center mb-lg-0 text-white nav-brand md:h-14 md:w-14 h-12 w-12 items-center justify-center">
                    <i class="fas fa-home"></i>
                </a>
                <button class="navbar-toggler border-white"
                        type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="offcanvas offcanvas-end" id="navbarNavAltMarkup">
                    <div class="offcanvas-header border-b border-dashed">
                        <h5 class="offcanvas-title text-white font-semibold" id="offcanvasNavbar2Label">
                            Hai Phong University
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            @await Component.InvokeAsync("Menu", new { type = MenuType.MAIN })
                        </div>
                        <form class="d-flex mt-3 mt-lg-0" action="/search">
                            <input type="search" class="h-10 md:h-14 px-3 w-full md:w-64 text-dark" placeholder="Nhập từ khóa..." aria-label="Search" name="searchTerm">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <partial name="_CookieConsentPartial" />
    <main role="main" class="main mb-4">
        @RenderBody()
    </main>
    <footer class="footer">
        <div class="footer-divide mb-3"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-2 d-none d-md-block">
                    <div class="justify-center w-full items-center flex h-full">
                        <img src="~/favicon.ico" style="width: 130px; height: 130px;" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="mb-2">
                        <i class="fas fa-home mr-4"></i>Trường Đại học Hải Phòng - Haiphong University
                    </div>
                    <div class="mb-2">
                        <i class="fas fa-map-marker-alt mr-4"></i><localize key="address" />: 171 Phan Đăng Lưu , Kiến An, Hải Phòng, Việt Nam.
                    </div>
                    <div class="row">
                        <div class="col-6 mb-2">
                            <i class="fas fa-phone mr-4"></i>(+84225) 3876 338
                        </div>
                        <div class="col-6 mb-2">
                            <i class="fas fa-print mr-4"></i>(+84225) 3876 893
                        </div>
                    </div>
                    <div class="mb-2">
                        <svg class="mr-4" width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 0C4.4768 0 0 4.47813 0 10.0005C0 15.5232 4.4768 20 10 20C15.5232 20 20 15.5232 20 10.0005C20 4.47813 15.5232 0 10 0ZM2.77253 11.3251H4.3064C4.56304 13.2575 5.38142 15.072 6.66 16.5435C4.65973 15.5184 3.18933 13.6043 2.77253 11.3251V11.3251ZM4.3064 8.67467H2.77253C3.1896 6.39573 4.66 4.4816 6.66027 3.45653C5.38166 4.92793 4.56319 6.74234 4.3064 8.67467V8.67467ZM8.67467 14.8157C7.81034 13.8245 7.22883 12.6188 6.9912 11.3253H8.67467V14.8157ZM8.67467 8.67467H6.9912C7.22896 7.38129 7.81045 6.17574 8.67467 5.18453V8.67467ZM17.2272 8.67467H15.6936C15.4369 6.74248 14.6187 4.92817 13.3403 3.4568C15.34 4.48213 16.8104 6.39627 17.2272 8.67467ZM11.3253 14.8152V11.3251H13.0088C12.7709 12.6184 12.1894 13.8239 11.3253 14.8152V14.8152ZM11.3253 8.67467V5.18427C12.1897 6.17551 12.7712 7.38117 13.0088 8.67467H11.3253ZM13.3395 16.5437C14.6183 15.0722 15.4368 13.2576 15.6936 11.3251H17.2275C16.8107 13.6045 15.34 15.5187 13.3395 16.5437Z" fill="white" />
                        </svg>
                        https://dhhp.edu.vn - info@dhhp.edu.vn
                    </div>
                    <div class="footer-social">
                        <i class="p-2 fab fa-facebook-square"></i>
                        <i class="p-2 fab fa-twitter-square"></i>
                        <i class="p-2 fab fa-linkedin"></i>
                        <i class="p-2 fab fa-instagram"></i>
                        <i class="p-2 fab fa-pinterest-square"></i>
                        <i class="p-2 fa fa-rss"></i>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="font-bold mb-2">Cơ sở 246 B - Đà nẵng</div>
                    <div class="mb-2">
                        <svg class="mr-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 0C4.47715 0 0 4.70101 0 10.5C0 16.299 4.47715 21 10 21C15.5229 21 20 16.299 20 10.5C20 4.70101 15.5229 0 10 0ZM10 3.55682C12.7531 3.55682 14.9854 5.90072 14.9854 8.79144C14.9854 9.66709 14.7568 10.823 14.2871 11.4767L10 17.4432L5.71288 11.4767C5.19573 10.757 5.01463 9.75821 5.01463 8.79148C5.01465 5.90072 7.24692 3.55682 10 3.55682ZM10 6.58942C8.84162 6.58942 7.90283 7.57514 7.90283 8.79144C7.90283 10.0077 8.84162 10.9935 10 10.9935C11.1584 10.9935 12.0972 10.0077 12.0972 8.79144C12.0972 7.57514 11.1584 6.58942 10 6.58942Z" fill="white" />
                        </svg>
                        246B - Đà nẵng - Ngô Quyền - Hải Phòng
                    </div>
                    <div class="mb-2 d-none d-md-block">
                        <svg class="mr-2" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5 9.1875H11.8125V10.5H10.5V9.1875Z" fill="white" />
                            <path d="M13.125 9.1875H14.4375V10.5H13.125V9.1875Z" fill="white" />
                            <path d="M15.75 9.1875H17.0625V10.5H15.75V9.1875Z" fill="white" />
                            <path d="M10.5 11.8125H11.8125V13.125H10.5V11.8125Z" fill="white" />
                            <path d="M13.125 11.8125H14.4375V13.125H13.125V11.8125Z" fill="white" />
                            <path d="M15.75 11.8125H17.0625V13.125H15.75V11.8125Z" fill="white" />
                            <path d="M10.5 14.4375H11.8125V15.75H10.5V14.4375Z" fill="white" />
                            <path d="M13.125 14.4375H14.4375V15.75H13.125V14.4375Z" fill="white" />
                            <path d="M15.75 14.4375H17.0625V15.75H15.75V14.4375Z" fill="white" />
                            <path d="M10.5 6.5625H17.0625V7.875H10.5V6.5625Z" fill="white" />
                            <path d="M18.375 3.9375H9.1875V3.28125C9.18715 2.93326 9.04876 2.59962 8.80269 2.35356C8.55663 2.10749 8.22299 1.9691 7.875 1.96875H5.25C4.90201 1.9691 4.56837 2.10749 4.32231 2.35356C4.07624 2.59962 3.93785 2.93326 3.9375 3.28125V3.9375H2.625C2.27701 3.93785 1.94337 4.07624 1.69731 4.32231C1.45124 4.56837 1.31285 4.90201 1.3125 5.25V17.0625C1.31285 17.4105 1.45124 17.7441 1.69731 17.9902C1.94337 18.2363 2.27701 18.3747 2.625 18.375H18.375C18.723 18.3747 19.0566 18.2363 19.3027 17.9902C19.5488 17.7441 19.6872 17.4105 19.6875 17.0625V5.25C19.6872 4.90201 19.5488 4.56837 19.3027 4.32231C19.0566 4.07624 18.723 3.93785 18.375 3.9375ZM5.25 3.28125H7.875V14.4375H5.25V3.28125ZM18.375 17.0625H2.625V5.25H3.9375V14.4375C3.93785 14.7855 4.07624 15.1191 4.32231 15.3652C4.56837 15.6113 4.90201 15.7497 5.25 15.75H7.875C8.22299 15.7497 8.55663 15.6113 8.80269 15.3652C9.04876 15.1191 9.18715 14.7855 9.1875 14.4375V5.25H18.375V17.0625Z" fill="white" />
                        </svg>
                        (+84225) 3261 316
                    </div>
                    <div class="mb-2">
                        <svg class="mr-2" width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.9043 11.2206H15.111V17.2636L11.6354 13.3792L10.9696 14.1233L14.3838 17.9445H2.67267L5.97822 14.1233L5.29822 13.3897L1.88878 17.3322V8.19112L7.7585 14.7197C7.93546 14.9163 8.17483 15.0267 8.42434 15.0267C8.67384 15.0267 8.91322 14.9163 9.09017 14.7197L12.2352 11.2206H10.8988L8.42434 13.9703L2.50739 7.3889H9.47267L10.0157 6.33334H1.88878C1.6383 6.33334 1.39807 6.44455 1.22096 6.64251C1.04384 6.84046 0.944336 7.10895 0.944336 7.3889V17.9445C0.944336 18.2244 1.04384 18.4929 1.22096 18.6908C1.39807 18.8888 1.6383 19 1.88878 19H15.111C15.3615 19 15.6017 18.8888 15.7788 18.6908C15.9559 18.4929 16.0554 18.2244 16.0554 17.9445V11.21L15.9043 11.2206Z" fill="white" />
                            <path d="M12.6793 3.69445L9.97821 8.92473C9.92648 9.02695 9.89949 9.14248 9.89991 9.25992C9.90032 9.37736 9.92812 9.49265 9.98056 9.59442C10.033 9.69619 10.1083 9.78092 10.1989 9.84025C10.2896 9.89959 10.3926 9.93148 10.4976 9.93278H15.9046C16.0097 9.93148 16.1126 9.89959 16.2033 9.84025C16.294 9.78092 16.3692 9.69619 16.4217 9.59442C16.4741 9.49265 16.5019 9.37736 16.5023 9.25992C16.5027 9.14248 16.4758 9.02695 16.424 8.92473L13.7229 3.69445C13.6697 3.59262 13.5935 3.50815 13.5019 3.44945C13.4104 3.39075 13.3067 3.35986 13.2011 3.35986C13.0956 3.35986 12.9919 3.39075 12.9003 3.44945C12.8088 3.50815 12.7326 3.59262 12.6793 3.69445Z" fill="white" />
                        </svg>
                        trungtambdcb@dhhp.edu.vn
                    </div>
                    <div class="mb-2">
                        <svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.95 13.4H6.58C6.33845 12.4823 6.33845 11.5177 6.58 10.6H8.95C8.88834 11.0642 8.85495 11.5317 8.85 12C8.85495 12.4683 8.88834 12.9358 8.95 13.4ZM7.16 9.2H9.2C9.43329 8.33622 9.76198 7.50108 10.18 6.71C8.90435 7.1457 7.83087 8.03079 7.16 9.2ZM16.84 9.2C16.1639 8.03131 15.0876 7.14684 13.81 6.71C14.2338 7.49729 14.5595 8.33351 14.78 9.2H16.84ZM12 17.57C12.5942 16.7256 13.0468 15.79 13.34 14.8H10.66C10.9532 15.79 11.4058 16.7256 12 17.57ZM12 6.42C11.4053 7.26771 10.9527 8.20669 10.66 9.2H13.34C13.0473 8.20669 12.5947 7.26771 12 6.42ZM7.16 14.8C7.83508 15.9657 8.90704 16.8495 10.18 17.29C9.76198 16.4989 9.43329 15.6638 9.2 14.8H7.16ZM21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5ZM19 12C19 10.6155 18.5895 9.26215 17.8203 8.11101C17.0511 6.95986 15.9579 6.06266 14.6788 5.53284C13.3997 5.00303 11.9922 4.86441 10.6344 5.1345C9.2765 5.4046 8.02922 6.07128 7.05025 7.05025C6.07128 8.02922 5.4046 9.2765 5.1345 10.6344C4.86441 11.9922 5.00303 13.3997 5.53284 14.6788C6.06266 15.9579 6.95986 17.0511 8.11101 17.8203C9.26215 18.5895 10.6155 19 12 19C13.8565 19 15.637 18.2625 16.9497 16.9497C18.2625 15.637 19 13.8565 19 12ZM15.15 12C15.1451 12.4683 15.1117 12.9358 15.05 13.4H17.42C17.6616 12.4823 17.6616 11.5177 17.42 10.6H15.05C15.1117 11.0642 15.1451 11.5317 15.15 12ZM13.81 17.29C15.0862 16.8508 16.1618 15.9669 16.84 14.8H14.78C14.5595 15.6665 14.2338 16.5027 13.81 17.29ZM10.36 10.6C10.2107 11.5274 10.2107 12.4726 10.36 13.4H13.64C13.7085 12.9364 13.7452 12.4686 13.75 12C13.7455 11.5314 13.7088 11.0636 13.64 10.6H10.36Z" fill="white" />
                        </svg>
                        https://www.cst.edu.vn
                    </div>
                </div>
                <div class="col-md-3 d-none d-md-block">
                    <div class="font-bold mb-2">Cơ sở 49 - Trần Phú</div>
                    <div class="mb-2">
                        <svg class="mr-2" width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10 0C4.47715 0 0 4.70101 0 10.5C0 16.299 4.47715 21 10 21C15.5229 21 20 16.299 20 10.5C20 4.70101 15.5229 0 10 0ZM10 3.55682C12.7531 3.55682 14.9854 5.90072 14.9854 8.79144C14.9854 9.66709 14.7568 10.823 14.2871 11.4767L10 17.4432L5.71288 11.4767C5.19573 10.757 5.01463 9.75821 5.01463 8.79148C5.01465 5.90072 7.24692 3.55682 10 3.55682ZM10 6.58942C8.84162 6.58942 7.90283 7.57514 7.90283 8.79144C7.90283 10.0077 8.84162 10.9935 10 10.9935C11.1584 10.9935 12.0972 10.0077 12.0972 8.79144C12.0972 7.57514 11.1584 6.58942 10 6.58942Z" fill="white" />
                        </svg>
                        49 Trần Phú - Ngô Quyền - Hải Phòng
                    </div>
                    <div class="mb-2">
                        <svg class="mr-2" width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M10.5 9.1875H11.8125V10.5H10.5V9.1875Z" fill="white" />
                            <path d="M13.125 9.1875H14.4375V10.5H13.125V9.1875Z" fill="white" />
                            <path d="M15.75 9.1875H17.0625V10.5H15.75V9.1875Z" fill="white" />
                            <path d="M10.5 11.8125H11.8125V13.125H10.5V11.8125Z" fill="white" />
                            <path d="M13.125 11.8125H14.4375V13.125H13.125V11.8125Z" fill="white" />
                            <path d="M15.75 11.8125H17.0625V13.125H15.75V11.8125Z" fill="white" />
                            <path d="M10.5 14.4375H11.8125V15.75H10.5V14.4375Z" fill="white" />
                            <path d="M13.125 14.4375H14.4375V15.75H13.125V14.4375Z" fill="white" />
                            <path d="M15.75 14.4375H17.0625V15.75H15.75V14.4375Z" fill="white" />
                            <path d="M10.5 6.5625H17.0625V7.875H10.5V6.5625Z" fill="white" />
                            <path d="M18.375 3.9375H9.1875V3.28125C9.18715 2.93326 9.04876 2.59962 8.80269 2.35356C8.55663 2.10749 8.22299 1.9691 7.875 1.96875H5.25C4.90201 1.9691 4.56837 2.10749 4.32231 2.35356C4.07624 2.59962 3.93785 2.93326 3.9375 3.28125V3.9375H2.625C2.27701 3.93785 1.94337 4.07624 1.69731 4.32231C1.45124 4.56837 1.31285 4.90201 1.3125 5.25V17.0625C1.31285 17.4105 1.45124 17.7441 1.69731 17.9902C1.94337 18.2363 2.27701 18.3747 2.625 18.375H18.375C18.723 18.3747 19.0566 18.2363 19.3027 17.9902C19.5488 17.7441 19.6872 17.4105 19.6875 17.0625V5.25C19.6872 4.90201 19.5488 4.56837 19.3027 4.32231C19.0566 4.07624 18.723 3.93785 18.375 3.9375ZM5.25 3.28125H7.875V14.4375H5.25V3.28125ZM18.375 17.0625H2.625V5.25H3.9375V14.4375C3.93785 14.7855 4.07624 15.1191 4.32231 15.3652C4.56837 15.6113 4.90201 15.7497 5.25 15.75H7.875C8.22299 15.7497 8.55663 15.6113 8.80269 15.3652C9.04876 15.1191 9.18715 14.7855 9.1875 14.4375V5.25H18.375V17.0625Z" fill="white" />
                        </svg>
                        (+84225) 3591 034
                    </div>
                    <div class="mb-2">
                        <svg class="mr-2" width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M15.9043 11.2206H15.111V17.2636L11.6354 13.3792L10.9696 14.1233L14.3838 17.9445H2.67267L5.97822 14.1233L5.29822 13.3897L1.88878 17.3322V8.19112L7.7585 14.7197C7.93546 14.9163 8.17483 15.0267 8.42434 15.0267C8.67384 15.0267 8.91322 14.9163 9.09017 14.7197L12.2352 11.2206H10.8988L8.42434 13.9703L2.50739 7.3889H9.47267L10.0157 6.33334H1.88878C1.6383 6.33334 1.39807 6.44455 1.22096 6.64251C1.04384 6.84046 0.944336 7.10895 0.944336 7.3889V17.9445C0.944336 18.2244 1.04384 18.4929 1.22096 18.6908C1.39807 18.8888 1.6383 19 1.88878 19H15.111C15.3615 19 15.6017 18.8888 15.7788 18.6908C15.9559 18.4929 16.0554 18.2244 16.0554 17.9445V11.21L15.9043 11.2206Z" fill="white" />
                            <path d="M12.6793 3.69445L9.97821 8.92473C9.92648 9.02695 9.89949 9.14248 9.89991 9.25992C9.90032 9.37736 9.92812 9.49265 9.98056 9.59442C10.033 9.69619 10.1083 9.78092 10.1989 9.84025C10.2896 9.89959 10.3926 9.93148 10.4976 9.93278H15.9046C16.0097 9.93148 16.1126 9.89959 16.2033 9.84025C16.294 9.78092 16.3692 9.69619 16.4217 9.59442C16.4741 9.49265 16.5019 9.37736 16.5023 9.25992C16.5027 9.14248 16.4758 9.02695 16.424 8.92473L13.7229 3.69445C13.6697 3.59262 13.5935 3.50815 13.5019 3.44945C13.4104 3.39075 13.3067 3.35986 13.2011 3.35986C13.0956 3.35986 12.9919 3.39075 12.9003 3.44945C12.8088 3.50815 12.7326 3.59262 12.6793 3.69445Z" fill="white" />
                        </svg>
                        trungtamthnndttx@dhhp.edu.vn
                    </div>
                    <div class="mb-2">
                        <svg class="mr-2" width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M8.95 13.4H6.58C6.33845 12.4823 6.33845 11.5177 6.58 10.6H8.95C8.88834 11.0642 8.85495 11.5317 8.85 12C8.85495 12.4683 8.88834 12.9358 8.95 13.4ZM7.16 9.2H9.2C9.43329 8.33622 9.76198 7.50108 10.18 6.71C8.90435 7.1457 7.83087 8.03079 7.16 9.2ZM16.84 9.2C16.1639 8.03131 15.0876 7.14684 13.81 6.71C14.2338 7.49729 14.5595 8.33351 14.78 9.2H16.84ZM12 17.57C12.5942 16.7256 13.0468 15.79 13.34 14.8H10.66C10.9532 15.79 11.4058 16.7256 12 17.57ZM12 6.42C11.4053 7.26771 10.9527 8.20669 10.66 9.2H13.34C13.0473 8.20669 12.5947 7.26771 12 6.42ZM7.16 14.8C7.83508 15.9657 8.90704 16.8495 10.18 17.29C9.76198 16.4989 9.43329 15.6638 9.2 14.8H7.16ZM21 5V19C21 19.5304 20.7893 20.0391 20.4142 20.4142C20.0391 20.7893 19.5304 21 19 21H5C4.46957 21 3.96086 20.7893 3.58579 20.4142C3.21071 20.0391 3 19.5304 3 19V5C3 4.46957 3.21071 3.96086 3.58579 3.58579C3.96086 3.21071 4.46957 3 5 3H19C19.5304 3 20.0391 3.21071 20.4142 3.58579C20.7893 3.96086 21 4.46957 21 5ZM19 12C19 10.6155 18.5895 9.26215 17.8203 8.11101C17.0511 6.95986 15.9579 6.06266 14.6788 5.53284C13.3997 5.00303 11.9922 4.86441 10.6344 5.1345C9.2765 5.4046 8.02922 6.07128 7.05025 7.05025C6.07128 8.02922 5.4046 9.2765 5.1345 10.6344C4.86441 11.9922 5.00303 13.3997 5.53284 14.6788C6.06266 15.9579 6.95986 17.0511 8.11101 17.8203C9.26215 18.5895 10.6155 19 12 19C13.8565 19 15.637 18.2625 16.9497 16.9497C18.2625 15.637 19 13.8565 19 12ZM15.15 12C15.1451 12.4683 15.1117 12.9358 15.05 13.4H17.42C17.6616 12.4823 17.6616 11.5177 17.42 10.6H15.05C15.1117 11.0642 15.1451 11.5317 15.15 12ZM13.81 17.29C15.0862 16.8508 16.1618 15.9669 16.84 14.8H14.78C14.5595 15.6665 14.2338 16.5027 13.81 17.29ZM10.36 10.6C10.2107 11.5274 10.2107 12.4726 10.36 13.4H13.64C13.7085 12.9364 13.7452 12.4686 13.75 12C13.7455 11.5314 13.7088 11.0636 13.64 10.6H10.36Z" fill="white" />
                        </svg>
                        https://dttx.dhhp.edu.vn
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-divide"></div>
            <div class="container">
                <div class="d-flex justify-content-between">
                    <div class="footer-bottom-link d-none d-md-block text-sm">
                        <a href="#" class="ps-0">
                            <localize key="career" />
                        </a>
                        <a href="https://fb.com/HaiphongUniversity">FANPAGE</a>
                        <a href="#">
                            <localize key="q_and_a" />
                        </a>
                        <a href="#">
                            <localize key="contact" />
                        </a>
                    </div>
                    <div class="footer-copyright">Copyright © @DateTime.Now.Year &bull; Trường Đại học Hải Phòng</div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
