@using THPHome.Entities

<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@Html.Raw(ViewData["Description"])" />
    <meta name="robots" content="index,follow" />
    <title>@Html.Raw(ViewData["Title"])</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.plyr.io/3.7.8/plyr.css" />
    <link rel="stylesheet" href="~/css/custom.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/THPHome.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="triangle-overlay-above"></div>
    <div class="triangle-overlay-below"></div>
    <div class="bg-slate-100">
        <div class="container flex justify-between items-center">
            <div class="flex gap-8 justify-end items-center ml-20">
                <ul class="list-unstyled d-flex mb-0 gap-8">
                    <li> <a class="p-2 nav-link text-slate-500" href="https://www.facebook.com/HaiPhongUniversity"><i class="fa-brands fa-facebook"></i></a> </li>
                    <li> <a class="p-2 nav-link text-slate-500" href="https://www.instagram.com/hpu.off"><i class="fa-brands fa-instagram"></i></a> </li>
                    <li> <a class="p-2 nav-link text-slate-500" href="https://t.me/haiphonguniversity"><i class="fa-brands fa-telegram"></i></a> </li>
                    <li> <a class="p-2 nav-link text-slate-500" href="https://www.linkedin.com/company/hai-phong-university/"><i class="fa-brands fa-linkedin-in"></i></a> </li>
                </ul>
            </div>
            <div class="info-header">
                <div class="contact">
                    <localize key="contact" /> : 0398.171.171 - 0773.171.171
                </div>
                <div class="dropdown">
                    <button class="btn btn-sm dropdown-toggle text-slate-700 font-medium" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fas fa-globe me-2"></i>
                        <localize key="language" />
                    </button>
                    <ul class="dropdown-menu shadow text-sm">
                        <li>
                            <a class="dropdown-item font-medium text-slate-700 flex gap-2 items-center" href="/?locale=en-US">
                                <img src="https://flagicons.lipis.dev/flags/4x3/us.svg" alt="JP" class="w-5" />
                                English
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item font-medium text-slate-700 flex gap-2 items-center" href="/?locale=zh-CN">
                                <img src="https://flagicons.lipis.dev/flags/4x3/cn.svg" alt="JP" class="w-5" />
                                简体中文
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item font-medium text-slate-700 flex gap-2 items-center" href="/?locale=ja-JP">
                                <img src="https://flagicons.lipis.dev/flags/4x3/jp.svg" alt="JP" class="w-5" />
                                日本語
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item font-medium text-slate-700 flex gap-2 items-center" href="/?locale=ko-KR">
                                <img src="https://flagicons.lipis.dev/flags/4x3/kr.svg" alt="JP" class="w-5" />
                                한국어
                            </a>
                        </li>
                        <li>
                            <a class="dropdown-item font-medium text-slate-700 flex gap-2 items-center" href="/?locale=vi-VN">
                                <img src="https://flagicons.lipis.dev/flags/4x3/vn.svg" alt="JP" class="w-5" />
                                Tiếng Việt
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="nav-item-inner relative p-2">
                    <a href="https://admin.dhhp.edu.vn" class="text-slate-700 hover:text-gray-900 text-sm font-medium hidden md:block">
                        <i class="fa-solid fa-right-to-bracket me-2"></i>
                        <localize key="login" />
                    </a>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("Logo")

    <header class="text-white mb-0 main-menu shadow mb-md-4">
        <div class="container">
            <div class="navbar navbar-expand-lg">
                <a href="/" class="d-flex align-items-center mb-lg-0 text-white nav-brand md:h-14 md:w-14 h-12 w-12 items-center justify-center">
                    <i class="fas fa-home"></i>
                </a>
                <button class="navbar-toggler border-white"
                        type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <i class="fa-solid fa-bars"></i>
                </button>
                <div class="offcanvas offcanvas-end" id="navbarNavAltMarkup">
                    <div class="offcanvas-header border-b border-dashed">
                        <h5 class="offcanvas-title text-white font-semibold" id="offcanvasNavbar2Label">
                            Hai Phong University
                        </h5>
                        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body items-center">
                        <div class="navbar-nav justify-content-end flex-grow-1 pe-3 gap-x-6 ml-[10px]">
                            @await Component.InvokeAsync("Menu", new { type = MenuType.MAIN })
                        </div>

                        <div class="flex justify-end">
                            <div class="searchBox">
                                <div class="formSearch">
                                    <form class="d-flex mt-3 mt-lg-0 items-center border-2 border-dark rounded-[30px]" action="/search">
                                        <input type="search" class="h-8 md:h-10 px-3 w-full md:w-[200px] text-dark rounded-full" placeholder="Nhập từ khóa..." aria-label="Search" name="searchTerm">
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <partial name="_CookieConsentPartial" />
    <main role="main" class="main mb-4">
        @RenderBody()
    </main>
    <footer class="bg-slate-900 text-white">
        <div class="border-b border-slate-700">
            <div class="container mx-auto">
                <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                    <div class="p-8 border-r border-slate-700">
                        <div class="flex items-cente gap-4">
                            <div class="w-12 h-12 border rounded-full border-blue-700 flex items-center justify-center">
                                <span role="img" aria-label="bank" class="anticon anticon-bank">
                                    <svg viewBox="64 64 896 896" focusable="false" data-icon="bank" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M894 462c30.9 0 43.8-39.7 18.7-58L530.8 126.2a31.81 31.81 0 00-37.6 0L111.3 404c-25.1 18.2-12.2 58 18.8 58H192v374h-72c-4.4 0-8 3.6-8 8v52c0 4.4 3.6 8 8 8h784c4.4 0 8-3.6 8-8v-52c0-4.4-3.6-8-8-8h-72V462h62zM512 196.7l271.1 197.2H240.9L512 196.7zM264 462h117v374H264V462zm189 0h117v374H453V462zm307 374H642V462h118v374z"></path></svg>
                                </span>
                            </div><div class="flex-1">
                                <div class="text-blue-400 text-sm">
                                    <localize key="address" />
                                </div>
                                <div class="text-white font-semibold text-lg">171 Phan Đăng Lưu</div>
                            </div>
                        </div>
                    </div>
                    <div class="p-8 border-r border-slate-700">
                        <div class="flex items-cente gap-4">
                            <div class="w-12 h-12 border rounded-full border-blue-700 flex items-center justify-center">
                                <span role="img" aria-label="phone" class="anticon anticon-phone">
                                    <svg viewBox="64 64 896 896" focusable="false" data-icon="phone" width="1em" height="1em" fill="currentColor" aria-hidden="true">
                                        <path d="M877.1 238.7L770.6 132.3c-13-13-30.4-20.3-48.8-20.3s-35.8 7.2-48.8 20.3L558.3 246.8c-13 13-20.3 30.5-20.3 48.9 0 18.5 7.2 35.8 20.3 48.9l89.6 89.7a405.46 405.46 0 01-86.4 127.3c-36.7 36.9-79.6 66-127.2 86.6l-89.6-89.7c-13-13-30.4-20.3-48.8-20.3a68.2 68.2 0 00-48.8 20.3L132.3 673c-13 13-20.3 30.5-20.3 48.9 0 18.5 7.2 35.8 20.3 48.9l106.4 106.4c22.2 22.2 52.8 34.9 84.2 34.9 6.5 0 12.8-.5 19.2-1.6 132.4-21.8 263.8-92.3 369.9-198.3C818 606 888.4 474.6 910.4 342.1c6.3-37.6-6.3-76.3-33.3-103.4zm-37.6 91.5c-19.5 117.9-82.9 235.5-178.4 331s-213 158.9-330.9 178.4c-14.8 2.5-30-2.5-40.8-13.2L184.9 721.9 295.7 611l119.8 120 .9.9 21.6-8a481.29 481.29 0 00285.7-285.8l8-21.6-120.8-120.7 110.8-110.9 104.5 104.5c10.8 10.8 15.8 26 13.3 40.8z"></path>
                                    </svg>
                                </span>
                            </div>
                            <div class="flex-1">
                                <div class="grid grid-cols-2">
                                    <div>
                                        <div class="text-blue-400 text-sm">Hotline 1:</div>
                                        <div class="text-white font-semibold text-lg">0773.171.171</div>
                                    </div>
                                    <div>
                                        <div class="text-blue-400 text-sm">Hotline 2:</div>
                                        <div class="text-white font-semibold text-lg">0398.171.171</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="p-8">
                        <div class="flex items-center gap-4">
                            <div class="w-12 h-12 border rounded-full border-blue-700 flex items-center justify-center">
                                <span role="img" aria-label="mail" class="anticon anticon-mail"><svg viewBox="64 64 896 896" focusable="false" data-icon="mail" width="1em" height="1em" fill="currentColor" aria-hidden="true"><path d="M928 160H96c-17.7 0-32 14.3-32 32v640c0 17.7 14.3 32 32 32h832c17.7 0 32-14.3 32-32V192c0-17.7-14.3-32-32-32zm-40 110.8V792H136V270.8l-27.6-21.5 39.3-50.5 42.8 33.3h643.1l42.8-33.3 39.3 50.5-27.7 21.5zM833.6 232L512 482 190.4 232l-42.8-33.3-39.3 50.5 27.6 21.5 341.6 265.6a55.99 55.99 0 0068.7 0L888 270.8l27.6-21.5-39.3-50.5-42.7 33.2z"></path></svg></span>
                            </div><div class="flex-1">
                                <div class="text-blue-400 text-sm">Email</div>
                                <div class="text-white font-semibold text-lg">info@dhhp.edu.vn</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row text-sm py-4">
                <div class="col-md-3">
                    <div class="mb-4">
                        <img src="https://dhhp.edu.vn/css/imgs/logo1.png" class="w-full" alt="LOGO 65 YEAR" />
                    </div>
                    <div class="mb-2">Tìm chúng tôi trên:</div>
                    <ul class="list-inline mb-4">
                        <li class="list-inline-item"><a href="https://www.facebook.com/HaiPhongUniversity" class="btn btn-sm bg-white hover:shadow-lg px-2 shadow text-blue-500"><i class="fa-facebook-f fa-fw fab"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.instagram.com/hpu.off" class="btn btn-sm bg-white px-2 shadow text-rose-500"><i class="fa-fw fa-instagram fab"></i></a></li>
                        <li class="list-inline-item"><a href="https://t.me/haiphonguniversity" class="btn btn-sm bg-white px-2 shadow text-sky-400"><i class="fa-brands fa-telegram"></i></a></li>
                        <li class="list-inline-item"><a href="https://www.linkedin.com/company/hai-phong-university/" class="btn btn-sm bg-white px-2 shadow text-blue-700"><i class="fa-fw fa-linkedin-in fab"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div class="font-bold mb-2 uppercase text-base">
                        <localize key="quick_links" />
                    </div>
                    <div class="grid grid-cols-2">
                        <div class="mb-2">
                            <i class="fa-solid fa-caret-right mr-2"></i>
                            <a href="https://dttx.dhhp.edu.vn/">Ngoại ngữ, Tin học và Đào tạo, Bỗi dưỡng</a>
                        </div>
                        <div class="mb-2">
                            <i class="fa-solid fa-caret-right mr-2"></i>
                            <a href="https://haiphong.gov.vn/">Cổng thông tin thành phố</a>
                        </div>
                        <div class="mb-2">
                            <i class="fa-solid fa-caret-right mr-2"></i>
                            <a href="https://moet.gov.vn/">Bộ Giáo dục và Đào tạo</a>
                        </div>
                        <div class="mb-2">
                            <i class="fa-solid fa-caret-right mr-2"></i>
                            <a href="https://sdh.dhhp.edu.vn/">Đào tạo Sau đại học</a>
                        </div>
                        <div class="mb-2">
                            <i class="fa-solid fa-caret-right mr-2"></i>
                            <a href="https://fit.dhhp.edu.vn/">Khoa Công Nghệ Thông Tin</a>
                        </div>
                        <div class="mb-2">
                            <i class="fa-solid fa-caret-right mr-2"></i>
                            <a href="https://old.dhhp.edu.vn/?page_id=3770&lang=vi">Ba công khai</a>
                        </div>
                        <div class="mb-2">
                            <i class="fa-solid fa-caret-right mr-2"></i>
                            <a href="https://next.dhhp.edu.vn/">Lý lịch khoa học giảng viên</a>
                        </div>
                        <div class="mb-2">
                            <i class="fa-solid fa-caret-right mr-2"></i>
                            <a href="http://lib.dhhp.edu.vn/">Thư viện số</a>
                        </div>
                        <div class="mb-2">
                            <i class="fa-solid fa-caret-right mr-2"></i>
                            <a href="http://tckh.dhhp.edu.vn/">Tạp chí khoa học</a>
                        </div>
                        <div class="mb-2">
                            <i class="fa-solid fa-caret-right mr-2"></i>
                            <a href="http://tuyensinh.dhhp.edu.vn/" target="_blank">Tuyển sinh @DateTime.Now.Year</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="font-bold mb-2 uppercase text-base">
                        <localize key="contact" />
                    </div>
                    <div class="mb-4">
                        <div class="mb-2">Đăng ký nhận thông tin mới nhất</div>
                        <div class="flex"><input type="email" placeholder="Nhập email của bạn" class="flex-1 p-2 rounded-l-md border border-blue-700"><button class="bg-blue-700 text-white p-2 rounded-r-md">Đăng ký</button></div>
                    </div>
                    <div class="mb-2">Cài đặt ứng dụng</div>
                    <div class="flex gap-2 mt-2">
                        <div>
                            <a href="javascript:void(0);">
                                <img src="/css/imgs/google-play.svg" alt="google-play" width="145">
                            </a>
                        </div>
                        <div>
                            <a href="javascript:void(0);"><img src="/css/imgs/app-store.svg" alt="app-store" width="145"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="footer-divide"></div>
            <div class="container">
                <div class="d-flex justify-content-between items-center py-2 text-sm gap-2 flex-col flex-col-reverse md:flex-row">
                    <div class="text-gray-200">Copyright © @DateTime.Now.Year Trường Đại học Hải Phòng</div>
                    <div class="flex jusify-end gap-2">
                        <div class="dropdown">
                            <button class="btn btn-sm dropdown-toggle text-gray-200" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="fas fa-globe me-2"></i>
                                <localize key="language" />
                            </button>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="/?locale=en-US">
                                        <span role="img" aria-label="English" style="margin-right: 8px;">🇺🇸</span>
                                        English
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/?locale=zh-CN">
                                        <span role="img" aria-label="简体中文" style="margin-right: 8px;">🇨🇳</span>
                                        简体中文
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/?locale=ja-JP">
                                        <span role="img" aria-label="日本語" style="margin-right: 8px;">🇯🇵</span>
                                        日本語
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/?locale=ko-KR">
                                        <span role="img" aria-label="한국어" style="margin-right: 8px;">🇰🇷</span>
                                        한국어
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/?locale=vi-VN">
                                        <span role="img" aria-label="Tiếng Việt" style="margin-right: 8px;">🇻🇳</span>
                                        Tiếng Việt
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <a href="#" class="btn btn-sm text-gray-200">
                            <localize key="terms" />
                        </a>
                        <a href="#" class="btn btn-sm text-gray-200">
                            <localize key="privacy_policy" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.plyr.io/3.7.8/plyr.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>
