@model IEnumerable<ApplicationCore.Models.Posts.PostView>

<div class="title active">
    <localize key="notification" />
</div>

@if (Model != null)
{
    <div class="mb-4">
        @foreach (var item in Model)
        {
            <div class="d-flex mt-1 align-items-center">
                <a href="@item.Url" title="@item.Title" class="bg-dark mr-2" style="width: 70px; height: 55px">
                    @if (!string.IsNullOrEmpty(item.Thumbnail))
                    {
                        <img class="object-cover max-w-none transition duration-700 hover:opacity-50" src="@item.Thumbnail" alt="IMG" style="width: 70px; height: 55px" />
                    }
                </a>
                <div>
                    <div class="mb-1 line-clamp-2">
                        <a href="@item.Url" title="@item.Title">@item.Title</a>
                    </div>
                    <div class="text-muted text-xs d-flex">
                        <div class="mr-2"><i class="fa fa-calendar mr-2"></i>@item.IssuedDate.ToString("dd/MM/yyyy")</div>
                        <div><i class="fas fa-eye mr-2"></i>@item.View.ToString("N0")</div>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <partial name="/Views/Components/_Empty.cshtml" />
}